button {
    font-size: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    width: 100px;
}
.footer{
position:absolute;
bottom: 0;
width: 80%;
height: 40px;
background-color: #2222

}
